.container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#bio {
    display: block;
    margin-top: 10%;
    width: 100%;
    position: relative;
}

.image {
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}

.bio-text {
    display: inline;
    padding: 5%;
    margin-left: 5%;
}

h6 {
    color: #638CDB;
}

#links {
    margin: 0 auto;
    width: 400px;
}

#portfolio {
    /* margin: 1%; */
    width: 100%;
}

.hr {    
    width: 20%;
    margin: 0 auto;
    border: 2px solid #638CDB;
    margin-bottom: 5%;
}

#education, #experience, #projects {
    text-align: center;
    margin: 2%;
    margin-top: 10%;
    float: right;
    width: 25%;
    height: 250px;
}
