<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <!-- Cayman theme stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}{{ site.github.build_revision }}">

  <!-- Custom overrides -->
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  {% include head-custom.html %}
  {% include head-custom-google-analytics.html %}
</head>
<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    {% if site.description %}<h2 class="project-tagline">{{ site.description }}</h2>{% endif %}
      <p class="page-links">
        <a href="{{ '/' | relative_url }}">Home</a> •
        <a href="{{ '/projects/' | relative_url }}">Projects</a> •
        <a href="{{ '/experience/' | relative_url }}">Experience</a>
      </p>
  </header>

  <main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
      <span class="site-footer-owner"> Created by {{ site.title }}</span>
    </footer>
  </main>
</body>
</html>