<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- Custom overrides -->
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
    {% if site.description %}<h2 class="project-tagline">{{ site.description }}</h2>{% endif %}
      <p class="page-links">
        <a href="{{ '/' | relative_url }}">Home</a> •
        <a href="{{ '/projects/' | relative_url }}">Projects</a> •
        <a href="{{ '/experience/' | relative_url }}">Experience</a>
      </p>
  </header>

<main id="main-content" class="main-content" role="main">
  <section>
    <h1 class="centered-title">{{page.title}}</h1>
    <article class="card">
      <p><b>Role:</b> {{page.role}}</p>
      <p><b>Role Dates:</b> {{page.dates}}</p>
      <p><b>Stack:</b> {{page.stack}}</p>
    </article>
    <section class="card">
      {{ content }}
    </section>
  </section>

  <footer class="site-footer">
    <span class="site-footer-owner"> Created by {{ site.title }}</span>
    <div class="footer-icons-row">
      <a href="https://www.linkedin.com/in/quinise">
        <img class="footer-icon" src="/assets/images/linkedin-icon.svg" alt="LinkedIn">
      </a>
      <a href="https://github.com/quinise">
        <img class="footer-icon" src="/assets/images/github-icon.png" alt="GitHub profile">
      </a>
    </div>
  </footer>
</main>