<!doctype html>
<html lang="{{ site.lang | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- Custom overrides -->
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  {% include head-custom.html %}
</head>

<body>
  <header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title }}</h1>
      <p class="page-links">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/experience/' | relative_url }}">Experience</a>
        <a href="{{ '/projects/' | relative_url }}">Projects</a>
      </p>
  </header>

<main id="main-content" class="main-content" role="main">
  <section class="detail-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">
      {% if page.role %}{{ page.role }}{% endif %}
      {% if page.dates %} • {{ page.dates }}{% endif %}
    </p>
  </section>

  <section class="detail-description">
    {{ content }}
  </section>

  {% if page.gallery %}
  <section class="detail-gallery">
    <h2>Gallery</h2>
    {{ page.gallery }}
  </section>
  {% endif %}

  {% if page.links %}
  <section class="detail-links">
    <h2>Links</h2>
    {{ page.links }}
  </section>
  {% endif %}

  {% if page.stack %}
  <section class="detail-tech">
    <h2>Technologies</h2>
    <span class="tech-badge">{{ page.stack }}</span>
  </section>
  {% endif %}

  <footer class="site-footer">
    <span class="site-footer-owner"> Created by {{ site.title }}</span>
    <div class="footer-icons-row">
      <a href="https://www.linkedin.com/in/quinise">
        <img class="footer-icon" src="/assets/images/linkedin-icon.svg" alt="LinkedIn">
      </a>
      <a href="https://github.com/quinise">
        <img class="footer-icon" src="/assets/images/github-icon.png" alt="GitHub profile">
      </a>
    </div>
  </footer>
</main>